# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ThePasheKosh.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\All Projcets\Unity\Sloppy Studio\CrazyKiller\ThePasheKosh V1.0\ThePasheKosh\.idea\.idea.ThePasheKosh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
